In [1]:
import pandas as pd

In [4]:
data = {
    "도시": [
        "서울", "서울", "서울", "부산", "부산", "부산", "인천", "인천"
    ],
    "연도": [
        "2015", "2010", "2005", "2015", "2010", "2005", "2015", "2010"
    ],
    "인구": [
        9904312, 9631482, 9762546, 3448737, 3393191, 3512547, 2890451, 2632035
    ],
    "지역": [
        "수도권", "수도권", "수도권", "경상권", "경상권", "경상권", "수도권", "수도권"
    ]
}
columns = ["도시", "연도", "인구", "지역"]
df1 = pd.DataFrame(data, columns=columns)
df1

   도시    연도       인구   지역
0  서울  2015  9904312  수도권
1  서울  2010  9631482  수도권
2  서울  2005  9762546  수도권
3  부산  2015  3448737  경상권
4  부산  2010  3393191  경상권
5  부산  2005  3512547  경상권
6  인천  2015  2890451  수도권
7  인천  2010  2632035  수도권

In [5]:
## 첫번째 인수로는 행 인덱스로 사용할 열 이름, 두번째 인수로는 열 인덱스로 사용할 열 이름, 그리고 마지막으로 데이터(values)로 사용할 열 이름을 넣는다.
df2 = pd.pivot_table(df1, index=["도시"],columns=["연도"],values=["인구"])

In [6]:
df2

           인구
연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN  2632035.0  2890451.0

## pivot()

In [7]:
## 첫번째 인수로는 행 인덱스로 사용할 열 이름, 두번째 인수로는 열 인덱스로 사용할 열 이름, 그리고 마지막으로 데이터(values)로 사용할 열 이름을 넣는다.
df2 = df1.pivot("도시","연도","인구") # 행 인덱스, 열 인덱스, 데이터

In [8]:
df2

연도       2005       2010       2015
도시
부산  3512547.0  3393191.0  3448737.0
서울  9762546.0  9631482.0  9904312.0
인천        NaN  2632035.0  2890451.0

## pivot_table()
Pandas는 pivot 명령과 groupby 명령의 중간 성격을 가지는 pivot_table 명령도 제공한다.

pivot_table 명령은 groupby 명령처럼 그룹 분석을 하지만 최종적으로는 pivot 명령처럼 피봇테이블을 만든다. 
즉 groupby 명령의 결과에 unstack을 자동 적용하여 2차원적인 형태로 변형한다. 사용 방법은 다음과 같다.

pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, margins_name='All')

data: 분석할 데이터프레임 (메서드일 때는 필요하지 않음)
values: 분석할 데이터프레임에서 분석할 열
index: 행 인덱스로 들어갈 키 열 또는 키 열의 리스트
columns: 열 인덱스로 들어갈 키 열 또는 키 열의 리스트
aggfunc: 분석 메서드
fill_value: NaN 대체 값
margins: 오른쪽과 아래에 합계를 붙일지 여부
margins_name: 합계 열(행)의 이름

만약 조건에 따른 데이터가 유일하게 선택되지 않으면 그룹 연산을 하며 이 때 aggfunc 인수로 정의된 함수를 수행하여 대표값을 계산한다.
pivot_table를 메서드로 사용할 때는 객체 자체가 데이터가 되므로 data 인수가 필요하지 않다.

In [9]:
#  seaborn - 시각화 도구
# https://seaborn.pydata.org/
import seaborn as sns

In [14]:
tips = sns.load_dataset("tips")
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [15]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.tail()

     total_bill   tip     sex smoker   day    time  size   tip_pct
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

In [16]:
# 성별로 나누어 데이터 갯수를 세어본다.
tips.groupby("sex").count()

        total_bill  tip  smoker  day  time  size  tip_pct
sex
Male           157  157     157  157   157   157      157
Female          87   87      87   87    87    87       87

In [17]:
# 성별과 흡연유무로 나누어 데이터의 갯수를 알아본다.
tips.groupby(["sex", "smoker"]).size()

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64

In [20]:
tips.pivot_table("tip_pct", "sex", "smoker", aggfunc="count", margins=True) # margins = 합계 보여줌

smoker  Yes   No  All
sex
Male     60   97  157
Female   33   54   87
All      93  151  244

In [21]:
tips.groupby("sex")[["tip_pct"]].mean()

         tip_pct
sex
Male    0.157651
Female  0.166491

In [22]:
tips.groupby("smoker")[["tip_pct"]].mean()

         tip_pct
smoker
Yes     0.163196
No      0.159328

In [23]:
tips.pivot_table("tip_pct", ["sex", "smoker"]) # 행 인덱스가 (성별, 흡연) 조합, 값(데이터)는 tip_pct

                tip_pct
sex    smoker
Male   Yes     0.152771
       No      0.160669
Female Yes     0.182150
       No      0.156921

In [24]:
tips.pivot_table("tip_pct", "sex", "smoker") # 행 인덱스가 성별, 열 인덱스가 흡연, 값(데이터)는 tip_pct

smoker       Yes        No
sex
Male    0.152771  0.160669
Female  0.182150  0.156921

In [47]:
# 요일별(day) 평균적 tip 비율
tips.pivot_table("tip_pct", "sex", "day", aggfunc="mean", margins=True)

day         Thur       Fri       Sat       Sun       All
sex
Male    0.165276  0.143385  0.151577  0.162344  0.157651
Female  0.157525  0.199388  0.156470  0.181569  0.166491
All     0.161276  0.169913  0.153152  0.166897  0.160803

In [50]:
# 요일별(day) 평균적 tip 금액
tips.pivot_table("tip", "sex", "day", aggfunc="mean", margins=True)

day         Thur       Fri       Sat       Sun       All
sex
Male    2.980333  2.693000  3.083898  3.220345  3.089618
Female  2.575625  2.781111  2.801786  3.367222  2.833448
All     2.771452  2.734737  2.993103  3.255132  2.998279