In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])

In [9]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [18]:
df.loc[:,:] >= 16

       A      B      C      D
a  False  False  False  False
b  False  False   True   True
c   True   True   True   True

In [17]:
df.loc['b',:] >= 16

A    False
B    False
C     True
D     True
Name: b, dtype: bool

In [16]:
df.loc[:, df.loc['b',:] >= 16]

    C   D
a  12  13
b  16  17
c  20  21

In [20]:
df2 = df.loc[:,:] >= 16

In [21]:
type(df)

pandas.core.frame.DataFrame